/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(180deg, #020617, #020617);
    color: #fff;
}

/* HEADER */
.marca-sitio {
    text-align: center;
    padding: 2rem;
}

.titulo-sitio {
    font-size: 2rem;
    font-weight: bold;
}

.sub-sitio {
    opacity: 0.7;
}

/* NAV */
.nav-sitio {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding-bottom: 1rem;
}

.nav-sitio a {
    color: #aaa;
    text-decoration: none;
}

.nav-sitio a.activo {
    color: #fff;
    font-weight: bold;
}